main {
    border: black double;
    border-radius: 4rem;
    margin:  1rem auto 8rem;
    padding: 1rem;
    background-color: aliceblue;
    display: block;
    box-sizing: border-box;
    text-align: left;
}

h2 {
    text-align: center;
}

article {
    margin:1rem auto;
    padding: 0;
    overflow: hidden;
}

.article img {
    float: right;
    margin: 0.5rem 0.5rem 0.2rem;
    padding: 1rem;
    position: absolute;
}

article p:last-child::after {
    content: "";
    display: block;
    clear: both;
}

dt {
    font-weight: bold;
}



