main {
    text-align: left;
    border: black double;
    border-radius: 3rem;
    margin:  auto;
    padding: 1rem;
    background-color: aliceblue;
    display: block;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

article img {
    float: right;
    margin: 0.5rem 0.5rem 0.2rem;
}

article p:last-child::after {
    content: "";
    display: block;
    clear: both;
}

dt {
    font-weight: bold;
}

p{
    text-align: left;
}


