article {
    border: 1px double black;
    margin:  auto;
    padding: 1rem;
    background-color: white;
    display: block;
}

article img {
    float: center;
    margin: 1rem auto; 
}

p {
    line-height: 1.2rem;
}