html {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1rem;
    white-space: normal;
    word-break: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: beige;
    box-sizing: border-box;
}

h1 {
    color: navy;
    text-shadow: -.1rem -.1rem orange;
    letter-spacing: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-display: block;
    overflow: hidden;
}

h2, h3 {
    letter-spacing: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    border: black double;
    background: white;
    border-radius: 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav a{
    padding: 1rem;
    text-decoration: none;
    display: block;
}

nav::after{
    content: "";
    display: block;
    clear: both;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: fixed;
}

nav ul li{
    flex: 1;
    height: auto;
    z-index: 10;
    white-space: nowrap;
}

nav li{
    list-style: none;
    float: left;
}

nav a:hover {
    background: rgb(240, 240, 240);
}

nav a:active {
    color:#cce
}

a:hover {
    text-decoration: underline;
}

a,
a:visited {
    text-decoration: none;
    color: navy;
}

li.dropdown ul{
    display: none;
}

li.dropdown:hover ul {
    background: white;
    display: block;
    position: absolute;
  }
  
li.dropdown li { 
    font-size: .9rem;
    float: none;
  }

  footer{
    font-size: smaller;
    font-style: italic;
    position: center;
    margin: 2rem;
    padding: 2rem;
  }

  img{
    max-width: 100%;
    height: auto;
  }
  



